{% load static %}

            <!-- Sidebar Wrapper Start -->
            <div class="sidebar-wrapper">
                <div class="menu-list">
                    <a class="active" href="{% url 'manage_course_list' %}"><img src="{% static 'images/menu-icon/icon-1.png' %}" alt="Icon"></a>
                    <a href="messages.html"><img src="{% static 'images/menu-icon/icon-2.png' %}" alt="Icon"></a>
                    <a href="overview.html"><img src="{% static 'images/menu-icon/icon-3.png' %}" alt="Icon"></a>
                    <a href="engagement.html"><img src="{% static 'images/menu-icon/icon-4.png' %}" alt="Icon"></a>
                    <a href="traffic-conversion.html"><img src="{% static 'images/menu-icon/icon-5.png' %}" alt="Icon"></a>
                </div>
            </div>
            <!-- Sidebar Wrapper End -->